 @media all and (min-width: 920px) { 

        *, *:before, *:after{
            box-sizing: inherit;
        }
        
        html{
            box-sizing: border-box;
            max-width: 100%;
            background-image: url("../images/site/small_check.jpg");
        
        }     
        
        body { 
            background-color: #ffffff;
            font-family: 'Work Sans', sans-serif;
            margin: auto;
            border: 4px solid #4c96d7;
            border-radius: 8px;
            max-width: 100%;
        }
        
        /*********** HEADER HERE********* */
        .homepage {
            width: 100%;
        }
        
        .homepage a {
           margin-left: 30rem;
           padding-top: 1.5rem;
        }
         
        /*********** NAVIGATION HERE********* */
        nav {
            font-size: 1rem;
            background-color: #3a3a3a;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            font-weight: 700;
        }

        nav ul li {
            cursor: pointer;
            padding: 10px;
            margin: 2px;
        }
 
        nav ul li a {
            color: #ffffff;
        } 

        nav ul li:hover {
            background-color: #68d74c;
        }
        
        /*********** MAIN HERE********* */
        main {
            max-width:100%;
        }
        
        main h2 {
            padding-left: 2rem;
            color: #4c96d7;
        }
        
        main p {
            padding-left: 2rem;
            color: #4c96d7;
        }
        
        .img {
            text-align: center;
        }
        
        .mini-content {
            background-color: whitesmoke;
            opacity: 0.9;
            position: absolute;
            padding-right: 20px;
            margin-right: 10px;
            left: 10px;
            font-size: large;
            font-weight: 600;
            width: revert;
            height: auto;
        }
        
        .button-click img {
            padding-left: 2rem;
        }
        
        main h2 {
            text-align: left;
            color: black;
        }
        
        /********* Container Section ***********/
        .container {
            display: grid;
            grid-template-columns: repeat(2, 2fr);
            grid-gap: 3rem;
            margin-left: 5px;
            padding-left: 4rem;
        }
         
        .wrap-up {
            flex-direction: row;
            }

        h4 {
           padding-left: 7rem; 
        }

        .box {
            border-radius: 5px;
            font-size: 100%;  
        }
        
        div.box-a.img {
             text-align: left;
        }
        
        div.box-a figcaption {
            margin-left: 1rem;
        }
        
        div.box-b figcaption {
            margin-left: 1.5rem;
        }
        
        div.box-c figcaption {
            margin-left: 1rem;
        }
        div.box-d figcaption {
            margin-left: 1rem;
        }
        
        ul.dolerean-list {
            text-align: end;
            padding-right: 7rem;
            margin-bottom: 2rem;
        }
        
        h2 {
            text-align: end;
            padding-right: 7rem;
            margin-bottom: 2rem;
        }
       
        /******Login form*************/ 
    fieldset.wrap {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    width: 10em;
    margin: auto;
    width: min-content;
    }
    
    /********Registration******/
    fieldset.wrap {
        display: flex;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
        width: 10em;
        margin: auto;
        width: min-content;
        }

/* For vehicle display in classification view */
	#inv-display {
		flex-flow: row wrap;
		justify-content: flex-start;
	}

	#inv-display h2{
		font-size: 1rem;
	}

	#inv-display li {
		max-width: 200px;
		flex: 1 0 auto;
		text-align: center;
		height: 250px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
      
	#inv-display div {
		width: 100%;
	} 
    
/* * * * * * * * * * * * * * * * VEHICLE DETAILS * * * * * * * * * * * * * * * * * */
.vehicle-details{
    display: grid;
    grid-template-columns: .33fr 1fr 1fr;
    grid-gap: 1em;
    grid-template-areas: 'tn img details';
}


#tn-display img{
    transition: .3s;
    max-width: 100%;
    margin: 0 0 1em 0;
    object-fit: contain;
}
#tn-display img:hover{
    transform: scale(1.25, 1.25);
}

#tn-display{
    display: flex;
    flex-direction: column;
    grid-area: tn;
    max-width: 100%;
}

.vehicle-details>img {
    grid-area: img;
}

#mobile-tn-header{
    display: none;
}

/*********** Border ************/
        hr.new3 {
            border-top: 1px rgb(34, 33, 33);
          } 
        
        footer {
            text-align: center;
            justify-content: center;
            padding: 5px;
            margin: 0.5rem;
            font-size: 15px; 
        }
    }